LTA_ACCOUNT_KEY=
PORT=8787
CACHE_TTL_MS=300000
LTA_FETCH_TIMEOUT_MS=15000
MEVNET_CACHE_TTL_MS=604800000
MEVNET_FETCH_TIMEOUT_MS=15000
MEVNET_FEATURE_LAYER_URL=https://gisdev.planmalaysia.gov.my/server/rest/services/Hosted/MEVnet_EVCB/FeatureServer/0
ONEMAP_API_TOKEN=
ONEMAP_EMAIL=
ONEMAP_PASSWORD=
ONEMAP_CACHE_TTL_MS=2592000000
GA_MEASUREMENT_ID=
VITE_GA_MEASUREMENT_ID=
